<div class="page-intro" style="margin-top: 0px;">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ol class="breadcrumb">
                    <li><a class="btn radius btn-white btn-sm" ui-sref="application">1. Jurisdiction</a></li>
                    <li><a class="btn radius btn-white btn-sm" ui-sref="application.form-2">2. Contact</a></li>
                    <li><a class="btn radius btn-white btn-sm" ui-sref="application.form-2b">2b. Contact</a></li>
                    <li><a class="btn radius btn-white btn-sm" ui-sref="application.form-3">3. General</a></li>
                    <li><a class="btn radius btn-white btn-sm" ui-sref="application.form-4">4. Types</a></li>
                    <li><a class="btn radius btn-white btn-sm" ui-sref="application.form-5">5. Summary</a></li>
                    <li><a class="btn radius btn-white btn-sm" ui-sref="application.form-6">6. Signature</a></li>
                </ol>
            </div>
        </div>
    </div>
</div>