<!-- section start -->
<div class="section gray-bg">
    <div class="container">
        <h2>Project Types</h2>
        <label class="control-label" for="inputSuccess3">Please select project types. (You can selection more than one if necessary).</label>
        <br>
        <div class="checkbox">
            <label>
                <input type="checkbox" value="Yes"> Pavement Management Service Project
            </label>
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox" value="Yes"> Non Pavement Asset Management Project
            </label>
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox" value="Yes"> Pavement Design Project -- Develop Plans, Specifications & Cost Estimates (PS&E)
            </label>
        </div>
        <br>
        <!-- Pavement Management Service Projects -->
        <form role="form">
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group has-feedback">
                        <label class="control-label">Network Center Lines Miles</label>
                        <input type="text" class="form-control" ng-model="appCtrl.jurisdiction.laneMiles">
                        <i class="fa fa-user form-control-feedback"></i>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group has-feedback">
                        <label class="control-label">% of Network to be Surveyed</label>
                        <input type="password" class="form-control" ng-model="appCtrl.application.networkSurveyPercent">
                        <i class="fa fa-lock form-control-feedback"></i>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group has-feedback">
                        <label class="control-label">Network Miles that will be Surveyed</label>
                        <input type="email" class="form-control" ng-model="appCtrl.application.networkMilesForSurvey">
                        <i class="fa fa-envelope-o form-control-feedback"></i>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group has-feedback">
                        <label class="control-label">Network Miles Remaining to be Inspected</label>
                        <input type="email" class="form-control" ng-model="appCtrl.application.networkMilesRemaining">
                        <i class="fa fa-envelope-o form-control-feedback"></i>
                    </div>
                </div>
            </div>
            <div class="row">
                <label class="control-label">Additional Funds</label>
                <br>
                <div class="radio">
                    <label>
                        <input type="radio" name="optionsRadios" id="optionsRadios5" value="option2"> Yes
                    </label>
                </div>
                <div class="radio disabled">
                    <label>
                        <input type="radio" name="optionsRadios" id="optionsRadios6" value="option3" disabled=""> No
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group has-feedback">
                        <label class="control-label">Additional funds amount</label>
                        <input type="email" class="form-control" ng-model="appCtrl.application.networkAdditionalFunds">
                        <i class="fa fa-envelope-o form-control-feedback"></i>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group has-feedback">
                        <label class="control-label">Percent Completed with Addtional Funding</label>
                        <input type="email" class="form-control" ng-model="appCtrl.application.networkPercentAdditionalFunds">
                        <i class="fa fa-envelope-o form-control-feedback"></i>
                    </div>
                </div>
            </div>
            <div class="row">
                <label class="control-label">Please check all that apply:</label>
                <br>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="" ng-model="appCtrl.application.arterials"> Arterials
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="" ng-model="appCtrl.application.collectors"> Collectors
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="" ng-model="appCtrl.application.residentials"> Residentials
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="" ng-model="appCtrl.application.other"> Other (Please describe below)
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <div class="form-group has-feedback">
                        <label class="control-label">Other Description</label>
                        <textarea rows="4" class="form-control" ng-model="appCtrl.application.otherDescription"></textarea>
                    </div>
                </div>
            </div>
        </form>
        <!-- Non Pavement Asset Management Project -->
        <form role="form">
            <div class="row">
                <div class="col-md-8">
                    <div class="form-group has-feedback">
                        <label class="control-label">Project Description</label>
                        <textarea rows="4" class="form-control" ng-model="appCtrl.application.npamProjectdescription"></textarea>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group has-feedback">
                        <label class="control-label">Total Estimated Cost</label>
                        <input type="email" class="form-control" ng-model="appCtrl.application.npamEstimatedcost">
                        <i class="fa fa-envelope-o form-control-feedback"></i>
                    </div>
                </div>
            </div>
            <div class="row">
                <label class="control-label">Types of Assets:</label>
                <br>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="" ng-model="appCtrl.application.signs"> Signs
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="" ng-model="appCtrl.application.stormDrains"> Storm Drains
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="" ng-model="appCtrl.application.curbs"> Curbs
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="" ng-model="appCtrl.application.gutters"> Gutters
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="" ng-model="appCtrl.application.sideWalks"> Sidewalks
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="" ng-model="appCtrl.application.trafficSignals"> Traffic Signals
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="" ng-model="appCtrl.application.streetLights"> Street Lights
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="" ng-model="appCtrl.application.otherAsset"> Other
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <div class="form-group has-feedback">
                        <label class="control-label">Other Description</label>
                        <textarea rows="4" class="form-control" ng-model="appCtrl.application.otherAssetDescription"></textarea>
                    </div>
                </div>
            </div>
        </form>
        <!-- Pavement Design Project -- Develop Plans, Specifications & Cost Estimates (PS&E) -->
        <form role="form">
            <div class="row">
                <div class="col-md-8">
                    <div class="form-group has-feedback">
                        <label class="control-label">Project Description</label>
                        <textarea rows="4" class="form-control" ng-model="appCtrl.application.pdpProjectDescription"></textarea>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group has-feedback">
                        <label class="control-label">Anticipated Construction Start Date</label>
                        <input type="email" class="form-control" ng-model="appCtrl.application.pdpAnticipatedConstructionDate">
                        <i class="fa fa-envelope-o form-control-feedback"></i>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group has-feedback">
                        <label class="control-label">Total Estimated Cost</label>
                        <input type="email" class="form-control" ng-model="appCtrl.application.pdpEstimatedCost">
                        <i class="fa fa-envelope-o form-control-feedback"></i>
                    </div>
                </div>
            </div>
            <div class="row">
                <label class="control-label">Are streets eligible for federal aid (only arterials and collectors)?</label>
                <br>
                <div class="radio">
                    <label>
                        <input type="radio" name="optionsRadios" id="optionsRadios5" value="option2" ng-model="appCtrl.application.pdpFederalAidEligible"> Yes
                    </label>
                </div>
                <div class="radio disabled">
                    <label>
                        <input type="radio" name="optionsRadios" id="optionsRadios6" value="option3" disabled="" ng-model="appCtrl.application.pdpFederalAidEligible"> No
                    </label>
                </div>
            </div>
            <div class="row">
                <label class="control-label">Does the construction phase of this project have committed funding?</label>
                <br>
                <div class="radio">
                    <label>
                        <input type="radio" name="optionsRadios" id="optionsRadios5" value="option2" ng-model="appCtrl.application.pdpConstructionFullyFunded"> Yes
                    </label>
                </div>
                <div class="radio disabled">
                    <label>
                        <input type="radio" name="optionsRadios" id="optionsRadios6" value="option3" disabled="" ng-model="appCtrl.application.pdpConstructionFullyFunded"> No
                    </label>
                </div>
            </div>
            <button type="submit" class="btn btn-default" ng-click="appCtrl.save()"><i class="fa fa-save"></i>&nbsp;&nbsp;Save</button>
            <button type="submit" class="btn btn-default" ng-click="appCtrl.reviewSection4()"><i class="fa fa-save"></i>&nbsp;&nbsp;Save and Continue</button>
        </form>
    </div>
</div>
<!-- section end -->
