<!-- section start -->
<div class="section gray-bg">
    <div class="container">
        <!-- <h2>Project Budget Summary</h2> -->
        <h3>Pavement Management Service Project</h3>
        <form role="form">
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group has-feedback">
                        <label class="control-label">Projected grant amount</label>
                        <input type="text" class="form-control" ng-model="appCtrl.application.pmsGrantAmount">
                        <i class="fa fa-lock form-control-feedback"></i>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group has-feedback">
                        <label class="control-label">Local contribution(20% of total):</label>
                        <input type="text" class="form-control" ng-model="appCtrl.application.pmsLocalContribution">
                        <i class="fa fa-user form-control-feedback"></i>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group has-feedback">
                        <label class="control-label">Additional committed funds</label>
                        <input type="text" class="form-control" ng-model="appCtrl.application.pmsAdditionalFunds">
                        <i class="fa fa-user form-control-feedback"></i>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group has-feedback">
                        <label class="control-label">Total cost to juridiction</label>
                        <input type="text" class="form-control" ng-model="appCtrl.application.pmsTotalProjectCost">
                        <i class="fa fa-user form-control-feedback"></i>
                    </div>
                </div>
            </div>
        </form>
        <h3>Non Pavement Asset Management Project</h3>
        <form role="form">
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group has-feedback">
                        <label class="control-label">Estimated Cost</label>
                        <input type="text" class="form-control" ng-model="appCtrl.application.npamTotalProjectCost">
                        <i class="fa fa-lock form-control-feedback"></i>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group has-feedback">
                        <label class="control-label">Projected Grant Amount</label>
                        <input type="text" class="form-control" ng-model="appCtrl.application.npamGrantAmount">
                        <i class="fa fa-user form-control-feedback"></i>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group has-feedback">
                        <label class="control-label">Local contribution(20% of total):</label>
                        <input type="text" class="form-control" ng-model="appCtrl.application.npamLocalContribution">
                        <i class="fa fa-user form-control-feedback"></i>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group has-feedback">
                        <label class="control-label">Additional funds needed to complete project</label>
                        <input type="text" class="form-control" ng-model="appCtrl.application.npamAdditionalFunds">
                        <i class="fa fa-user form-control-feedback"></i>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group has-feedback">
                        <label class="control-label">Total cost to jurisdiction</label>
                        <input type="text" class="form-control" ng-model="appCtrl.application.npamTotalProjectCost">
                        <i class="fa fa-user form-control-feedback"></i>
                    </div>
                </div>
            </div>
        </form>
        <h3>Pavement Design Project (PS&E)</h3>
        <form role="form">
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group has-feedback">
                        <label class="control-label">Estimated Cost</label>
                        <input type="text" class="form-control" ng-model="appCtrl.application.pdpGrantAmount">
                        <i class="fa fa-lock form-control-feedback"></i>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group has-feedback">
                        <label class="control-label">Projected Grant Amount</label>
                        <input type="text" class="form-control" ng-model="appCtrl.application.pdpGrantAmount">
                        <i class="fa fa-user form-control-feedback"></i>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group has-feedback">
                        <label class="control-label">Local contribution(20% of total):</label>
                        <input type="text" class="form-control" ng-model="appCtrl.application.pdpLocalContribution">
                        <i class="fa fa-user form-control-feedback"></i>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group has-feedback">
                        <label class="control-label">Additional funds needed to complete project</label>
                        <input type="text" class="form-control" ng-model="appCtrl.application.pdpAdditionalFunds">
                        <i class="fa fa-user form-control-feedback"></i>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group has-feedback">
                        <label class="control-label">Total cost to juridiction</label>
                        <input type="text" class="form-control" ng-model="appCtrl.application.pdpTotalProjectCost">
                        <i class="fa fa-user form-control-feedback"></i>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-default" ng-click="appCtrl.save()"><i class="fa fa-save"></i>&nbsp;&nbsp;Save</button>
            <button type="submit" class="btn btn-default" ng-click="appCtrl.reviewSection5()"><i class="fa fa-save"></i>&nbsp;&nbsp;Save and Continue</button>
        </form>
    </div>
</div>
<!-- section end -->
