<!-- section start -->
<div class="section gray-bg">
    <div class="container">
        <h2>General</h2>
        <form role="form">
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group has-feedback">
                        <label class="control-label">Last Major MTC Inspection</label>
                        <input type="text" class="form-control">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group has-feedback">
                        <label class="control-label">List any PMS consultants you prefer to work with (optional)</label>
                        <input type="text" class="form-control">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group has-feedback">
                        <label class="control-label">If you have a digital map (e.g. GIS) of your jurisdiction, list the format</label>
                        <input type="text" class="form-control" placeholder="GIS, PDF, JPEG">
                    </div>
                </div>
            </div>
            <div class="row">
                <label class="control-label">Do you have an agency GIS map integrated in StreetSaver?</label>
                <br>
                <div class="radio">
                    <label>
                        <input type="radio" name="optionsRadios" id="optionsRadios4" value="option1" checked=""> Yes
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="optionsRadios" id="optionsRadios5" value="option2"> No
                    </label>
                </div>
                <div class="radio disabled">
                    <label>
                        <input type="radio" name="optionsRadios" id="optionsRadios6" value="option3"> Not Sure
                    </label>
                </div>
            </div>
        </form>
        <button type="submit" class="btn btn-default" ng-click="save()"><i class="fa fa-save"></i>&nbsp;&nbsp;Save</button>
        <button type="submit" class="btn btn-default" ng-click="reviewSection3()"><i class="fa fa-save"></i>&nbsp;&nbsp;Save and Continue</butt </form>
    </div>
</div>
<!-- section end -->
