<!-- section start -->
<div class="section gray-bg">
    <div class="container">
        <h2>Signature</h2>
        <p class="lead">This application must be submitted by the jurisdiction's Public Works Director or an authorized representative. The person signing this page authorizes the juridiction to apply for the Pavement Management Technical Assistance Program, Round 17.</p>
        <form role="form">
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group has-feedback">
                        <label class="control-label">Full Name</label>
                        <input type="text" class="form-control" ng-model="application.publicWorksDirectorName">
                        <i class="fa fa-user form-control-feedback"></i>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group has-feedback">
                        <label class="control-label">Title</label>
                        <input type="password" class="form-control" ng-model="application.publicWorksDirectorTitle">
                        <i class="fa fa-lock form-control-feedback"></i>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group has-feedback">
                        <label class="control-label">Contact Number</label>
                        <input type="email" class="form-control" ng-model="application.publicWorksDirectorNumber">
                        <i class="fa fa-envelope-o form-control-feedback"></i>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-default">Submit Application</button>
        </form>
    </div>
</div>
<!-- section end -->
