<!-- banner start -->
<!-- ================ -->
<div class="banner">
    <div class="fixed-image section light-translucent-bg" style="background-image:url('assets/images/page-about-banner-2.jpg');">
        <div class="container">
            <div class="space-top"></div>
            <h1>Pavement Technical Assistance Program 2017</h1>
            <!-- <div class="separator-2"></div> -->
            <p class="lead">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum</p>
        </div>
    </div>
</div>
<!-- banner end -->
<!-- section start -->
<div class="section" style="background-color:green;color:white;">
    <div class="container">
        <h2 style="color:white;">Thank you for submitting your application. Your submission will be reviewed and you will be contacted if any further information is required.</h2>
        <p class="lead">For any questions, please contact Christina Hohorst: chohorst@mtc.ca.gov</p>
        
    </div>
</div>
<!-- section end -->
<!-- Footer -->
 <footer style="margin:0;padding:0;"></footer>
