<!-- banner start -->
<!-- ================ -->
<div class="banner">
    <div class="fixed-image section light-translucent-bg" style="background-image:url('assets/images/page-about-banner-2.jpg');">
        <div class="container">
            <div class="space-top"></div>
            <h1>Thank you for submitting your application.</h1>
            <!-- <div class="separator-2"></div> -->
            <p class="lead">Your submission will be reviewed and you will be contacted if any further information is required.</p>
            <p class="lead">For any questions, please contact Christina Hohorst: chohorst@mtc.ca.gov</p>
        </div>
    </div>
</div>
<!-- banner end -->
<!-- Footer -->
<footer style="margin:0;padding:0;"></footer>
